.login-button {
  width: 80px;
  height: 25px;
  position: absolute;
  right: 20px;
  /* padding: 8px 16px; */
  background-color: #f6f5f5;
  color: #d4c8b9;
  border: 2px solid #edeeea;
  border-radius: 3px;
  cursor: pointer;
}

.register-page{
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 20px;
  background-color: #f3ece7;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  /* padding: 40px 20px; */
}

.form-container{
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f3ece7;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}

.form-container__page{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  color: #857e6f;
  font-size: 2rem;
  margin: 30px;
  text-align: center;
}

.register__card{
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  justify-self: center;
}

.register{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-name,
.register-email,
.register-password{
  width: 60%;
  margin-bottom: 1.5rem;
  justify-self: center;
}

label {
  display: block;
  color: #8a8680;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  height: 30px;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border: none;
  border-radius: 0.3rem;
}

.register__button {
  margin: 0 auto;
  padding: 0.75rem;
  display: block;
  background-color: #82766a;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #82766a;
}